%h3 Your teams

= link_to new_team_path, class: 'btn btn-primary' do
  %i.icon.icon-plus
  Add new team

%hr
%table{class: 'table table-hovered table-bordered'}
  %thead
    %tr
      %th{style: 'width:50px'}
        = '#'
      %th
        = 'Name'
      %th
        = 'Actions'
  %tbody
    - teams.each do |t|
      %tr
        %td
          = image_tag t.photo.tiny_thumb
        %td
          = link_to t.name, t
        %td
          = link_to "Edit", edit_team_path(t)


