%h3 Tournaments
= link_to new_tournament_path, :class => 'btn btn-primary' do
  %i.icon.icon-plus
  Add new tournament

%hr
%table{:class => 'table table-hovered table-bordered'}
  %thead
    %tr
      %th
        = 'Name'
      %th
        = 'Actions'
  %tbody
    - tournaments.each do |t|
      %tr
        %td
          = link_to t.name, t
        %td
          = link_to "Edit", edit_tournament_path(t), :class => 'btn btn-small btn-primary'
          =  link_to "delete", tournament_path(t), method: :delete,
              data: { confirm: 'Are you sure?'}, class: 'btn btn-danger btn-small'
